﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" data-ng-app="ApplicationModule">
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>ES- : @ViewBag.Title</title>

    @Styles.Render("~/Content/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/assets/css/main.css")
    @Styles.Render("~/Content/assets/css/plugins.css")
    @Styles.Render("~/Content/assets/css/responsive.css")
    @Styles.Render("~/Content/assets/css/icons.css")
    @Styles.Render("~/Content/assets/css/fontawesome/font-awesome.min.css")
    <link href="~/Content/ui-grid-unstable.css" rel="stylesheet" />
    <link href="~/Content/ui-grid-unstable.min.css" rel="stylesheet" />
    @Styles.Render("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700")
    <link href="~/Content/assets/css/DatePicker.css" rel="stylesheet" />

    @Scripts.Render("~/Content/assets/js/libs/jquery-1.10.2.min.js")
    @Scripts.Render("~/Content/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js")
    @*@Scripts.Render("~/Content/bootstrap/js/bootstrap.min.js")*@
    @Scripts.Render("~/Content/assets/js/libs/lodash.compat.min.js")
    @Scripts.Render("~/Content/plugins/touchpunch/jquery.ui.touch-punch.min.js")
    @Scripts.Render("~/Content/plugins/event.swipe/jquery.event.move.js")
    @Scripts.Render("~/Content/plugins/event.swipe/jquery.event.swipe.js")
    @Scripts.Render("~/Content/assets/js/libs/breakpoints.js")
    @Scripts.Render("~/Content/plugins/respond/respond.min.js")
    @Scripts.Render("~/Content/plugins/cookie/jquery.cookie.min.js")
    @Scripts.Render("~/Content/plugins/slimscroll/jquery.slimscroll.min.js")
    @Scripts.Render("~/Content/plugins/slimscroll/jquery.slimscroll.horizontal.min.js")
    @Scripts.Render("~/Content/plugins/sparkline/jquery.sparkline.min.js")
    @Scripts.Render("~/Content/plugins/flot/jquery.flot.min.js")
    @Scripts.Render("~/Content/plugins/flot/jquery.flot.tooltip.min.js")
    @Scripts.Render("~/Content/plugins/flot/jquery.flot.resize.min.js")
    @Scripts.Render("~/Content/plugins/flot/jquery.flot.time.min.js")
    @Scripts.Render("~/Content/plugins/flot/jquery.flot.growraf.min.js")
    @Scripts.Render("~/Content/plugins/easy-pie-chart/jquery.easy-pie-chart.min.js")
    @Scripts.Render("~/Content/plugins/daterangepicker/moment.min.js")
    @Scripts.Render("~/Content/plugins/daterangepicker/daterangepicker.js")
    @Scripts.Render("~/Content/plugins/blockui/jquery.blockUI.min.js")
    @Scripts.Render("~/Content/plugins/fullcalendar/fullcalendar.min.js")
    @Scripts.Render("~/Content/plugins/noty/jquery.noty.js")
    @Scripts.Render("~/Content/plugins/noty/layouts/top.js")
    @Scripts.Render("~/Content/plugins/noty/themes/default.js")
    @Scripts.Render("~/Content/plugins/select2/select2.min.js")
    @Scripts.Render("~/Content/plugins/uniform/jquery.uniform.min.js")
    @Scripts.Render("~/Content/assets/js/app.js")
    @Scripts.Render("~/Content/assets/js/plugins.js")
    @Scripts.Render("~/Content/assets/js/plugins.form-components.js")
    @Scripts.Render("~/Content/plugins/validation/jquery.validate.js")
    
    <script src="~/Scripts/jquery-confirm.min.js"></script>


    <script src="~/Scripts/alasql.min.js"></script>
    <script src="~/Scripts/xlsx.core.min.js"></script>

    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/respond.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    @*<script src="~/Scripts/angular-route.min.js"></script>*@
    <script src="~/Scripts/angular-touch.js"></script>
    @*<script src="~/Scripts/angular-route.min.js"></script>*@
    <script src="~/Scripts/angular-animate.js"></script>
    @*<script src="~/Scripts/angular-animate.min.js"></script>*@
    @*<script src="~/Scripts/jquery.validate.js"></script>*@
    @*<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@
    <script src="~/Scripts/ui-grid-unstable.js"></script>
    
    <script src="~/Scripts/jquery.datetimepicker.js"></script>
    @*<script src="~/Scripts/bootstrap-datepicker.js"></script>*@

    <script type="text/javascript" src="~/Scripts/angularjs-dropdown-multiselect.js"></script>
    <script type="text/javascript" src="~/Scripts/dirPagination.js"></script>
    @*<script type="text/javascript" src="~/Scripts/angularjs-dropdown-multiselect.min.js"></script>*@
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.1.js"></script>
    <script src="~/Scripts/ES/Module.js"></script>
    <script src="~/Scripts/ES/Services.js"></script>
    <script src="~/Scripts/ES/SectionService.js"></script>
    <script src="~/Scripts/ES/SubjectService.js"></script>
    <script src="~/Scripts/ES/InstitutionInfoService.js"></script>
    <script src="~/Scripts/ES/StudentInfoService.js"></script>
    <script src="~/Scripts/ES/HomeController.js"></script>
    @*<script src="~/scripts/ui-grid-unstable.js"></script>
    <script src="~/scripts/ui-grid-unstable.min.js"></script>*@
    <script src="~/Scripts/ES/AccountController.js"></script>
   
    <script>
        $(document).ready(function () {
            "use strict";
            App.init(); // Init layout and core plugins
            Plugins.init(); // Init all plugins
            //AlignGrid();
            FormComponents.init(); // Init all form-specific

        });

    </script>
    <script type="text/javascript">

        var ApplicationPath = '@ViewBag.ApplicationPath';
        var VirtualDirectory = '@ViewBag.VirtualDirectory';


    </script>
</head>
<body>

    <header class="header navbar navbar-fixed-top" role="banner">
        <!-- Top Navigation Bar -->
        <div class="container">
            <!-- Only visible on smartphones, menu toggle -->
            <ul class="nav navbar-nav">
                <li class="nav-toggle"><a href="javascript:void(0);" title=""><i class="icon-reorder"></i></a></li>
            </ul>
            <!-- Logo -->
            <a class="navbar-brand" href="#">
                <img src="~/images/logo.jpg" alt="VFS AntiCorrption Compliance Process" style="height:50px;width:145px;float:left;" />
                @*<img src="assets/img/logo.png" alt="logo" />*@

            </a>
            <!-- /logo -->
            <!-- Sidebar Toggler -->
            @if (Request.IsAuthenticated)
            {
                <a href="#" class="toggle-sidebar bs-tooltip" data-placement="bottom" data-original-title="Toggle navigation">
                    <i class="icon-reorder"></i>
                </a>
            }
            @if (Request.IsAuthenticated)
            {
                <h3 style="float: left; color: #fff; margin-left: 322px; font-weight: bold;">  Education System Management</h3>
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!--<img alt="" src="assets/img/avatar1_small.jpg" />-->
                            <i class="icon-male"></i>
                            <span class="username">@User.Identity.Name</span>
                            <i class="icon-caret-down small"></i>
                        </a>
                        <ul class="dropdown-menu">
                            @*<li>
                                        <a class="more" href="@Url.Action("EmployeeList", "Masters")">
                                            <i class="icon-user"></i>My Profile
                                        </a>
                                    </li>

                                    <li>

                                        <a class="more" ng-controller="HomeController" ng-click="ChangePassword()">
                                            <i class="icon-key"></i> Change Password

                                        </a>
                                    </li>
                                <li class="divider"></li>*@

                            <li>

                                @*<a class="more" href="@Url.Action("LogOff", "Account")">
                                        <i class="icon-lock"></i> Log Out
                                    </a>*@
                                <span>@Html.Partial("_LoginPartial")</span>


                                <a class="more" href="javascript:$('#logoutForm').submit();">
                                    <i class="icon-lock"></i>
                                    Log Out
                                </a>
                            </li>
                            @*<li><a href="login.html"><i class="icon-key"></i> Log Out</a></li>*@
                        </ul>
                    </li>
                    <!-- /user login dropdown -->
                </ul>
            }
            <!-- /Top Right Menu -->
        </div>
    </header> <!-- /.header -->

    <div class="container maincontainer">
        <modal title="" visible="showModal">
            Test
        </modal>
        @RenderBody()
    </div> <!-- /.row -->
    @RenderSection("scripts", false)
</body>
</html>